html { 
    background: url("../assets/images/background.jpg") no-repeat center center fixed; 
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;
  }

  html,body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
  }
  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
    color: rgba(255,255,255,1)
  }
  h1 {
      font-size: 3.5em;
     }
  h2 {
    font-size: 2em;
  }

  p {
    animation-duration: 4s;
    animation-name: slidein;
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }