* {
  box-sizing: border-box;
}
  html,body {
    font-family: 'Raleway', sans-serif;
    padding: 1em 2em;
    font-size: 18px;
    background: url("../assets/images/background.jpg") no-repeat center center fixed; 
    max-width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:auto;

  }
  
  h1,h2 {
    font-weight: 200;
    margin: 0.4em 0;
    color: rgb(255, 255, 255)
   
  }
  h1 {
      font-size: 3.5em;
     }
  h2 {
    font-size: 2em;
  }

#special {
    animation-duration: 4s;
    animation-name: slidein;
    color:white; 
  }
  
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%; 
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }

  #profile-picture, #portfolio-image, #contact-image {
    
    height:300px;
    width:200px;
    border-radius: 50px 50px 50px 50px;
  }

  #profile-text, #portfolio, #contact-me {
    margin-top:20%;
    margin-bottom:2%;
    text-align: center;
    color:#fff; 
  }

  #introduction {
    color: #fff; 
  }

  label,
  input[type=text],
  input[type=email],
  textarea {
    display: block;
    width: 100%;
    color:#fff; 
  }
  
  input[type=text],
  input[type=email],
  textarea {
    height: 35px;
    padding: 0 10px;
    font-size: 14px;
    border: 1px solid #dddddd;
  }
  
  textarea {
    height: 200px;
  }
  
  input[type=submit] {
    padding: 10px 30px;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
    background: #4aaaa5;
    border: 0 none;
  }
  /*  portfolio edits */

  #main-container {
    padding-top: 60px;
    min-height: calc(100vh - 70px);
    color:rgb(10, 9, 9); 
  }
  
  .main-section {
    float: left;
    width: 100%;
    max-width: 960px;
    padding: 30px;
    margin: 0 0 40px;
    border: 1px solid #dddddd;
  }

  .container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    clear: both;
  }
  
    
  .work {
    position: relative;
    float: left;
    width: 274px;
    margin: 20px 0 25px;
    overflow: auto;
  }
  
  .work:nth-child(even) {
    margin-right: 40px;
  }
  
  .work img {
    width: 100%;
    border: 0 none;
    opacity: 0.8;
  }
  
  .work h3 {
    position: absolute;
    bottom: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
    font-weight: 300;
    line-height: 15px;
    color: rgb(10, 9, 9));
    text-align: center;
    background: #a1fcf7;
    border-bottom: 0;
  }
  